<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
</head>
<body>
<div class="container text-center">
    This site was created by vlad_zavr. Here is my sites:
    <p><a href="https://github.com/VladZavr2002" target="_blank">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNbWdB2_7YTTtQctGHNr247ceVnjezSbBZSvdUVBs4pssVaS5cJzbjrKM&usqp=CAU"
             alt="GitHub">
    </a>
    </p>
    <form action="{% url 'home' %}">
        <input type="submit" value="Home page" class="btn btn-primary">
    </form>
</div>
</body>
</html>